/* Estilos generales */
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(244, 248, 250);
}

header{
    padding-left: 10px;
    height: 70px;
    align-self: flex-start;
}

header h1 {
    font-size: 3.3rem;
    color: #0A3871;
}

main {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(204, 234, 237);
}

.seccion1-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.contenedor-textarea {
    text-align: center;
    border-radius: 15px;
}

.textarea {
    width: 100%;
    min-height: 160px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    text-align: center;
}

.div-botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    color: rgb(95, 70, 70);
    background-color: rgb(22, 185, 206);
    color: white;
    border-radius: 15px;
}

.seccion2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion2-imagen {
    display: none;
}

.seccion2-texto {
    padding-top: 35px;
    text-align: center;
}

.seccion3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.seccion4 {
    display: flex;
    flex-direction: column;
}

tamano-spinner{

}

.div-resultado {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 120px;
    border-radius: 15px;
    background-color: white;
}

.div-resultado p{
    padding-left: 10px;
}

footer {
    text-align: center;
}

.ocultar {
    display: none;
}

.seccion4-spinner {
    margin: 0 auto;
    border: 16px solid #F3F3F3;
    border-top: 16px solid #3498DB;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /* margin-top: 180px; */
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media only screen and (min-width: 578px) {
    /* main {
        gap: 15px;
    } */
}


@media only screen and (min-width: 768px) {

    /* .contenedor-textarea {
        padding-bottom: 18px;
    }

    .div-botones {
        display: flex;
        flex-direction: row;
    }

    .btn {
        height: 70px;
    }

    .seccion2-texto {
        padding-top: 70px;
    }

    .seccion1 {
        padding-bottom: 9px;
    } */
}

@media only screen and (min-width: 900px) {
    
    main {
        flex-direction: row;
    }
    
    .seccion1-contenedor {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .contenedor-textarea {
        width: 50vw;
        text-align: center;
    }

    .textarea {
        min-height: 430px;
    }
    
    .div-botones {
        flex-direction: row;
    }
    
    .btn {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
    }

    .seccion2 {
        flex-direction: column;
        justify-content: space-around;
    }
    
    .seccion2-imagen {
        display: flex;
    }
    
    .seccion2-texto {
        padding-top: 35px;
        text-align: center;
        background-color: white;
    }
    
    .seccion3 {
        width: 40vw;
    }
}

@media only screen and (min-width: 1504px) {
    .div-resultado {
        justify-content: space-around;
        gap: 30rem
    }
}





