/* Estilos generales */
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    padding-left: 10px;
    height: 55px;
    align-self: flex-start;
}

header h1 {
    font-size: 3.3rem;
    color: #100000;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(45, 191, 191);
    border-radius: 15px;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.seccion1-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.contenedor-textarea {
    text-align: center;
    border-radius: 15px;
}

.contenedor-textarea p {
    color: white;
}

.textarea {
    width: 100%;
    min-height: 160px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    text-align: center;
    resize: none;
}

.div-botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    color: rgb(95, 70, 70);
    background-color: rgb(8, 68, 75);
    color: white;
    border-radius: 15px;
    border: 3px inset rgb(0, 252, 247);
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
}

.seccion2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion2-imagen {
    display: none;
}

.seccion2-texto {
    padding-top: 20px;
    min-height: 90px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.seccion3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-resultado {
    padding: 10px;
    word-wrap: break-word;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.div-resultado p {
    padding-left: 10px;
    padding-bottom: 35px;
}

.seccion4 {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}

.ocultar {
    display: none;
}

.spinner {
    margin: 0 auto;
    border: 16px solid #F3F3F3;
    border-top: 16px solid #3498DB;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /* margin-top: 180px; */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerTexto {
    color: white;
    text-align: center;
}

@media only screen and (min-width: 900px) {

    main {
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 3rem;
    }

    .seccion1-contenedor {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .contenedor-textarea {
        width: 50vw;
        text-align: center;
    }

    .textarea {
        min-height: 425px;
    }


    .div-botones {
        flex-direction: row;
    }

    .seccion2 {
        border-radius: 15px;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        min-height: 575px;
    }

    .seccion2-imagen {
        display: flex;
        min-width: 23vw;
    }

    .seccion2-texto {
        text-align: center;
        background-color: white;
    }

    .seccion3 {
        height: 100%;
    }

    .div-resultado {
        min-height: 475px;
        min-width: 40vw;
    }

    .seccion4 {
        width: 500px;
    }

}